html, body {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

.card {
  /* Same dimension ratio as a business card */
  max-width: 700px;
  max-height: 400px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  position: relative;
  z-index: 1;
}

.qualia-text{
  color: #4DAF7C; /* Qualia brand color */
  text-decoration: none;
}

.book-link {
  color: #8E3B46;
}

a {
  color: #0077b5; /* LinkedIn blue */
  text-decoration: none;
}

.emoji {
  font-size: 80%;
}

.city {
  position: absolute;
  z-index: 0;
  right: 0;
  top: -10px; /* The SVG has a small gap at the top. Cover it up. */
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .city {
    position: static;
    width: 100%;
  }
  .city svg {
    width: 100%;
  }
}
